body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Showcard Gothic', sans-serif;
  } 
  h1 {
    color: #0d00ff;
  } 
  canvas {
    border: 2px solid #000;
    background-color: #b0efff;
  }  
  p {
    font-size: 18px;
    margin: 10px;
    color: #333;
  }